
h1, h2, h3, h4, h5, h6, p {
  color: black;
}
#menu>article {
  background: lightyellow;
}

.items {
background: lightyellow;
}
div {
  background: lightcyan;
}
.price {
  background: lightyellow;
}
.price+.price::before {
  color: var(--darkpurple);
}
.bottle-price {
  color: black;
  background: pink;
}
.items {
  color: gray;
}
.cocktail::before {
  background: var(--green);
}
div, .price {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 var(--navy);
  transition: 0.3s;
}
div:hover {
  box-shadow: 0 8px 16px 0 var(--blue);
}
